<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Project</title>
</head>
<body>
    <h1>ADD NEW PROJECT</h1>

    <div>
        <form method="POST">
            <input type="text" name="project_name" placeholder="Project's Name" />
            <input type="text" name="user_id" placeholder="User's ID" /> 
            <button type="submit">Submit</button>
        </form>
    </div>
    
</body>
</html>